@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-3: #828282;
  --gray-2: #acacac;
  --dark-base: #151515;
  --color-primary-3: #f2994a;
  --color-primary-2: #f2994a;
}

@layer components {
  .__wrapper {
    @apply sm:max-w-sm h-screen sm:mx-auto sm:overflow-scroll bg-[#F8FAFB] __base-font text-[var(--dark-base)];
  }

  .__header {
    @apply p-4 h-[270px] bg-white;
  }

  .__nav-search {
    @apply flex w-full justify-between gap-2;
  }

  .__searchbar {
    @apply bg-white flex items-center px-4 py-[14px] gap-[14px] rounded-xl w-full text-[12px] leading-[18px];
  }

  .__searchbar.__active {
    @apply bg-white flex items-center px-4 py-[14px] gap-[14px] rounded-none w-full text-[12px] leading-[18px] border-b border-[var(--color-primary-3)];
  }

  .__input-search {
    @apply focus:outline-none;
  }

  .__brand {
    @apply rounded-xl w-[50px] h-12;
  }

  .__main-container {
    @apply p-4 flex flex-col gap-5 bg-white rounded-t-[16px] shadow-xl -mt-[46px] pb-12;
  }

  .__button-category-container {
    @apply flex gap-2 overflow-x-auto pb-2;
  }

  .__button-category {
    @apply px-3 py-2 text-sm text-[var(--color-primary-3)] border border-[var(--color-primary-3)] rounded-full cursor-pointer whitespace-nowrap hover:bg-[#FBE8D8];
  }

  .__button-category.__active {
    @apply px-3 py-2 text-sm text-white bg-[var(--color-primary-3)] rounded-full;
  }

  .__product-card-wrapper {
    @apply grid grid-cols-2 grid-flow-row gap-1;
  }

  .__product-card {
    @apply rounded-[12px] shadow flex flex-col gap-2 pb-3;
  }

  .__product-card-content {
    @apply flex flex-col gap-3 justify-center items-center;
  }

  .__img-card {
    @apply object-cover object-center;
  }

  .__product-title-card {
    @apply text-[12px] font-medium;
  }

  .__product-price-card {
    @apply text-[14px] font-bold text-[var(--color-primary-3)];
  }

  .__overlay-filter {
    @apply sm:max-w-sm mx-auto hidden w-full h-full fixed inset-0 bg-[#151515CC] items-end p-[10px];
  }

  .__filter-container {
    @apply bg-white rounded-2xl w-full p-4;
  }

  .__button-filter {
    @apply text-xs font-bold px-3 py-[10px] w-full text-center text-[var(--color-primary-3)] bg-white border border-[var(--color-primary-3)] rounded-lg hover:bg-[#FBE8D8];
  }

  .__button-filter.__active {
    @apply bg-[#FBE8D8];
  }
}

.__header.__gradient {
  background: linear-gradient(
    180deg,
    rgba(21, 21, 21, 0.06) 0%,
    rgba(21, 21, 21, 0) 100%
  );
}

.__base-font {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.__button-category-container::-webkit-scrollbar {
  height: 3px;
}

.__button-category-container::-webkit-scrollbar-track {
  background-color: #ffedde;
}

.__button-category-container::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-3);
  border-radius: 16px;
}

.__button-category-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-2);
}

.__wrapper::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

.__wrapper::-webkit-scrollbar-track {
  background-color: white;
}

.__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--gray-2);
  border-radius: 16px;
}

.__wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-3);
}
